/* @font-face {
    font-family: 'dana extrabold';
    font-style: normal;
    font-weight: normal;
    src: local('dana extrabold'), url('font/dana\ extrabold.woff') format('woff');
}

@font-face {
    font-family: 'dana regular';
    font-style: normal;
    font-weight: normal;
    src: local('dana regular'), url('font/dana\ regular.woff') format('woff');
}



@font-face {
    font-family: 'dana thin';
    font-style: normal;
    font-weight: normal;
    src: local('dana thin'), url('font/dana\ thin.woff') format('woff');
}


@font-face {
    font-family: 'dana extralight';
    font-style: normal;
    font-weight: normal;
    src: local('dana extralight'), url('font/dana\ extralight.woff') format('woff');
}


@font-face {
    font-family: 'dana light';
    font-style: normal;
    font-weight: normal;
    src: local('dana light'), url('font/dana\ light.woff') format('woff');
}


@font-face {
    font-family: 'dana medium';
    font-style: normal;
    font-weight: normal;
    src: local('dana medium'), url('font/dana\ medium.woff') format('woff');
}


@font-face {
    font-family: 'dana demibold';
    font-style: normal;
    font-weight: normal;
    src: local('dana demibold'), url('font/dana\ demibold.woff') format('woff');
}


@font-face {
    font-family: 'dana bold';
    font-style: normal;
    font-weight: normal;
    src: local('dana bold'), url('font/dana\ bold.woff') format('woff');
}



@font-face {
    font-family: 'dana black';
    font-style: normal;
    font-weight: normal;
    src: local('dana black'), url('font/dana\ black.woff') format('woff');
} */

/* .font-bold {
    font-family: 'dana extrabold' !important;
}

.font-regular {
    font-family: 'dana regular' !important;
    line-height: 2;
}

.font-medium {
    font-family: 'dana medium' !important;
} */

/* *,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body {
    font-family: "dana extrabold";
    direction: rtl;
    background-color: var(--color-main-gray);
    padding-bottom: 20px;


} */



/* button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
} */









/* .larg-font-size {
    font-size: 5rem;
}

.middle-font-size {
    font-size: 2.5rem;
}

.small-font-size {
    font-size: 1.5rem;
    font-weight: 800;
} */

/* .white {
    color: var(--color-white);
}

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-light-gray: #cccaca;
    --color-light-purpel: #6366f1;
    --color-dark-gray: #808ea3;
    --color-mid-gray: #21293b;
    --color-main-gray: #0f172a;
    --color-cub-gray: #6b90bd;
} */

.span-color span:last-child {
    color: var(--color-light-purpel);
    font-size: 7rem;
}

.mid-margin-y {
    margin: 30px 0;
}

/* .active {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translate(-50%, 0%) !important;
}

.disable {
    opacity: 0 !important;
    visibility: hidden !important;
    transform: translate(-50%, -250%) !important;
}

.animation-fade {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.animation-fade.true {
    opacity: 1;
    transform: translateY(0) scale(1);
} */

/* .main-btn {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--color-light-purpel);
    text-decoration: none;
    color: var(--color-white);
    cursor: pointer;
} */

/* input {
    border: none;
    color: var(--color-white);
}

input::placeholder {
    color: var(--color-dark-gray);
    font-weight: 300;
}

input:active {
    box-shadow: none;
}

input:focus {
    outline: none;
}

textarea {
    border: none;
    color: var(--color-white);
}

textarea::placeholder {
    color: var(--color-dark-gray);
    font-weight: 300;
}

textarea:active {
    box-shadow: none;
}

textarea:focus {
    outline: none;
}

label {
    color: var(--color-dark-gray);
} */