.active {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translate(-50%, 0%) !important;
}

.disable {
    opacity: 0 !important;
    visibility: hidden !important;
    transform: translate(-50%, -250%) !important;
}

.animation-fade {
    opacity: 0;
    transform: translateY(20px) scale(0.9);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;

    &.true {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}





@keyframes btn-animation {
    0% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 100%, rgba(15, 23, 42, 1) 100%);
        background-clip: text;
    }

    12% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 75%, rgba(15, 23, 42, 1) 100%);
        background-clip: text;
    }

    24% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(15, 23, 42, 1) 100%);
        background-clip: text;
    }

    36% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 25%, rgba(15, 23, 42, 1) 100%);
        background-clip: text;
    }

    50% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(15, 23, 42, 1) 100%);
        background-clip: text;
    }

    62% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(15, 23, 42, 1) 75%);
        background-clip: text;
    }

    74% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(15, 23, 42, 1) 50%);
        background-clip: text;
    }

    86% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(15, 23, 42, 1) 25%);
        background-clip: text;
    }

    100% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(15, 23, 42, 1) 0%);
        background-clip: text;
    }
}



@keyframes section-title-animation {
    0% {
        transform: scale(1);
        margin: 0;
    }

    50% {
        transform: scaleX(1.3);
        margin: 3px;
    }

    100% {
        transform: scale(1);
        margin: 0;

    }
}