@use 'variables'as *;

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    &-licens {
        color: $color-dark-gray;
        font-family: serif;
    }

    &-Status {
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;

        &-shap {
            width: 5rem;
            height: 5rem;
            border-radius: 20rem;
            background-color: $color-dark-gray;
            box-shadow: 0 0 4px $color-dark-gray;
        }

        &-text {
            font-size: 1.8rem;
            color: $color-dark-gray;

            /* display: flex;
            align-items: center; */
            & span {
                color: $color-white;
                font-family: 'dana extrabold';
                display: block;
                height: 2.5rem;
            }
        }

    }


}