@media only screen and (max-width: 1300px) {

    .section-Projects-card-box {
        width: 100%;
    }

    .section-blog-card-box {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    // .section-home-box {
    //     padding-top: 5rem;
    // }


    .section-home-box-profile {

        opacity: 0 !important;
        visibility: hidden !important;
    }

    .section-Projects-card-box {
        perspective: none;
    }

    .section-home-box-title-box {
        display: block;
        justify-items: center;
        padding: 0px 5rem;
    }

    .section-home-box {
        // display: block;
        // justify-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .section-about-flex-part {
        width: 90%;
    }

    html {
        font-size: 60%;
    }


    .header {
        margin: 0px;
    }

    .header-navbar-static-li a p {
        display: none;
    }

    .header-navbar-static-li a i {
        display: inline-block;
    }

    .header-navbar-static-ul {
        gap: 3rem;
    }

    .header-navbar-box-top {
        width: 100%;
    }

    .header-navbar-humberger-btn {
        display: block;
    }

    .header-navbar-box-bottom {
        display: none;
    }




}

@media only screen and (max-width: 600px) {
    html {
        font-size: 55%;
    }

    // .section-home-box {
    //     padding-top: 5rem;
    // }





    .header-navbar-static-li:first-child::after {
        bottom: -20px;
    }

    .gridline {

        background-image: url('../img/grid.png');
        background-size: 150%;
    }

    .section-about-flex-part {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        margin-top: 30px;
    }

    .section-about-flex-part-one,
    .section-about-flex-part-two {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-contact-box {
        flex-wrap: wrap;
        width: 100%;
    }

    .section-contact-box-one,
    .section-contact-box-two {
        width: 90%;
    }

    .section-contact-box-one-link-box {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body {
        padding-bottom: 0px;
    }

    .section-about-skill-box-main {
        justify-content: center;
    }

    .section-style {
        margin: 0px 0px 10rem;
    }

    .btn-contact {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 450px) {
    // html {
    //     font-size: 50%;
    // }

    .section-home-box-title-box {
        padding: 0px 1.5rem;
    }


}

@media only screen and (max-width: 400px) {
    html {
        font-size: 47%;
    }

    .header-navbar-static-li:first-child::after {
        bottom: -16px;
    }
}