@use 'variables'as *;

.section-about {
    &-flex-part {
        display: flex;
        width: 75%;
        margin-top: 10rem;
        gap: 10%;

        &-one,
        &-two {
            width: 50%;
        }

        &-one p {
            line-height: 2;
        }

        &-two-title {
            color: $color-white;
            margin-top: -5px;
            display: flex;
            align-items: center;
            gap: 5px;

            & img {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    &-skill-box {
        width: 13rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-mid-gray;
        color: $color-dark-gray;
        border-radius: 10rem;
        font-family: sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 1px;

        &-main {
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            row-gap: 1.5rem;
        }
    }
}