$color-white:#fff;
$color-black: #000;
$color-light-gray: #cccaca;
$color-light-purpel: #6366f1;
$color-dark-gray: #808ea3;
$color-mid-gray: #21293b;
$color-main-gray: #0f172a;
$color-cub-gray: #6b90bd;