.main {

    width: 100%;

}

.header {
    /* width: 100%;
    height: 100vh; */
    margin-bottom: 5rem;
}

/* navbar static */
.navbar-static {
    width: 35%;
    height: 70px;
    border-radius: 100px;
    background-color: aliceblue;
    position: fixed;
    top: 3%;
    left: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    z-index: 999;
    transition: all 0.3s;
}


.navbar-static-ul {
    display: flex;
    align-items: center;
    gap: 7px;
    list-style: none;
}

.navbar-static-li {
    padding: 4px 10px;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.navbar-static-li:first-child {
    padding: 8px 30px;
    border: 0.5px solid var(--color-dark-gray);
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}

.navbar-static-li:first-child::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: var(--color-light-purpel);
    filter: blur(0.5px);
    bottom: -22px;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 100px;
}

.navbar-static-li a {
    text-decoration: none;
    color: var(--color-dark-gray);
    transition: all 0.1s ease-in;

}

.navbar-static-li:hover a {
    color: var(--color-light-purpel);

}

.navbar-static-li:hover {
    transform: scale(1.1);
}

/* ///////////////////// */
.linear_light {
    background-image: linear-gradient(90deg, rgba(28, 0, 129, 1) 70%, rgba(91, 208, 191, 1) 0%, rgba(29, 139, 253, 1) 30%);
    width: 60%;
    height: 50%;
    border-radius: 50%;
    filter: blur(100px);
    position: absolute;
    top: 15rem;
    right: 18rem;
    opacity: 0.3;
}

.title_text {
    color: rgba(255, 255, 255, 1);
}


.div-center-main-title {
    display: grid;
}

.sub-title_text {
    color: var(--color-light-gray);
}

.sub-title_text span {
    color: var(--color-light-purpel);
}

.secend-title_text {
    color: var(--color-light-gray);
}

.btn-contact {
    border-radius: 7px;
    background-color: var(--color-light-purpel);
    width: 17rem;
    height: 4.5rem;
    color: var(--color-white);
    box-shadow: none;
    font-family: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    cursor: pointer;

}

.btn-contact span {
    height: 45px;
    font-size: 30px;
    background-clip: text;
    color: transparent;
    background-color: white;


}

@keyframes btn-animation {
    0% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 100%, rgba(15, 23, 42, 1) 100%);
        background-clip: text;
    }

    12% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 75%, rgba(15, 23, 42, 1) 100%);
        background-clip: text;
    }

    24% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(15, 23, 42, 1) 100%);
        background-clip: text;
    }

    36% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 25%, rgba(15, 23, 42, 1) 100%);
        background-clip: text;
    }

    50% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(15, 23, 42, 1) 100%);
        background-clip: text;
    }

    62% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(15, 23, 42, 1) 75%);
        background-clip: text;
    }

    74% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(15, 23, 42, 1) 50%);
        background-clip: text;
    }

    86% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(15, 23, 42, 1) 25%);
        background-clip: text;
    }

    100% {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(15, 23, 42, 1) 0%);
        background-clip: text;
    }
}

.btn-contact:hover span {
    animation-name: btn-animation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    background-clip: text;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
}

.btn-contact:hover {
    transform: scale(1.02);
    box-shadow: 0 0 3px var(--color-light-purpel);
}




/* .logo-box {
    position: absolute;
    top: 20px;
    right: 50px;
} */

.logo-image {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    transition: all 0.3s;
}

.logo-image:hover {
    filter: grayscale(1);
    transform: scale(1.1) rotate(10deg);
}

.gridline {

    background-image: url('img/grid.png');
    background-size: 18%;
    width: 100%;
    height: 100vh;
    opacity: 0.1;
    filter: grayscale(1)
}

.gridline-box {
    width: 100%;
    height: 100vh;
}

.profile-box {
    width: 10rem;
    height: 10rem;
    border: 2px solid var(--color-light-purpel);
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 5px var(--color-light-purpel);
    transition: all 0.3s;
}

.profile-image {
    width: 100%;
    height: 100%;
}

.profile-box:hover {
    transform: scale(1.05) rotateY(360deg);
    box-shadow: 0 0 15px var(--color-light-purpel);
}

.grid-header-bootom {
    position: absolute;
    top: 20rem;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}


/* .header-nav-box{
    position: absolute;
    top: 10px;
    left: 10px;
} */
.header-nav-ul {
    display: flex;
    gap: 25px;
    list-style: none;
}


.grid-header-top {
    position: absolute;
    top: 0;
    right: 50%;
    width: 75%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate(50%, 10%);
}

.header-nav-li,
.header-nav-li a {
    transition: all 0.3s;
}

.header-nav-li a {
    text-decoration: none;
    color: var(--color-light-gray);
}


.header-nav-li:hover a {
    color: var(--color-light-purpel);

}

.header-nav-li:hover {
    transform: scale(1.2);
    text-shadow: 0px 0px 7px var(--color-light-purpel);
    margin: 4px;
}

.section-style {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px 0px;
}





@keyframes section-title-animation {
    0% {
        transform: scale(1);
        margin: 0;
    }

    50% {
        transform: scaleX(1.3);
        margin: 3px;
    }

    100% {
        transform: scale(1);
        margin: 0;

    }
}

.section-title {
    color: var(--color-white);
    display: flex;
    height: 80px;
}

.section-title span {
    cursor: pointer;
}

.section-title span:hover {
    animation-name: section-title-animation;
    animation-duration: 0.5s;
    color: var(--color-light-purpel);
}

.section-about-flex-part {
    display: flex;
    width: 75%;
    margin-top: 100px;
    gap: 10%;
}

.section-about-flex-part-one,
.section-about-flex-part-two {
    width: 50%;
}

.section-about-flex-part-one p {
    line-height: 2;
}



.section-about-flex-part-two-title {
    color: var(--color-white);
    margin-top: -5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.section-about-flex-part-two-title img {
    width: 30px;
    height: 30px;
}

.section-about-skill-main-box {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 15px;
}

.section-about-skill-box {
    width: 13rem;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-mid-gray);
    color: var(--color-dark-gray);
    border-radius: 100px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;

}






/* section project */

.section-Projects-card-box {
    width: 70%;
    display: flex;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;

}

.section-Projects-card {
    width: 40.6rem;
    height: 40.8rem;
    background-color: var(--color-mid-gray);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 30px;
    gap: 15px;

}

.section-Projects-card-box-img {
    width: 100%;
    height: 16rem;
    align-self: center;

}

.section-Projects-card-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.section-Projects-card-details {
    color: var(--color-dark-gray);
    font-weight: 400;
}



.title-card {
    font-size: 2rem;
    color: var(--color-white);
}

.section-Projects-card-link-box {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.section-Projects-card-demo {
    text-decoration: none;
    color: var(--color-dark-gray);
    transition: all 0.3s;
}

.section-Projects-card-demo:hover {
    color: var(--color-light-purpel);
}

.section-Projects-card-git {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.3s;

}

.section-Projects-card-git img {
    width: 4rem;
    height: 4rem;
}

.section-Projects-card-git:hover {
    background-color: var(--color-light-purpel);
}

/* section-blog */


.section-blog-card-box {
    width: 70%;
    display: flex;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
}

.section-blog-card {
    width: 40.6rem;
    height: 40.8rem;
    background-color: var(--color-mid-gray);
    border-radius: 15px;
    position: relative;
}

.section-blog-card-insid {
    position: absolute;
    top: 40%;

    color: var(--color-dark-gray);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 30px;
    gap: 15px;
}


.section-blog-card-box-img {
    width: 90%;
    height: 18rem;
    align-self: center;
    position: absolute;
    top: -7%;
    left: 50%;
    transform: translate(-50%, 0);
}

.section-blog-card-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.section-blog-card-demo {
    padding: 12px 32px;
    background-color: var(--color-main-gray);
    text-decoration: none;
    color: var(--color-white);
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.section-blog-card-demo:hover {
    background-color: var(--color-light-purpel);
}

/* ///////////////////////////////////////// */

/* section contact */
.section-contact-box {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-top: 50px;
}

.section-contact-box-one,
.section-contact-box-two {
    width: 50%;
}

.section-contact-box-one {
    color: var(--color-dark-gray);
}

.section-contact-link-main-box {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex-direction: column;
}


.section-contact-link {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.section-contact-link-box {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: var(--color-white);

}

.section-contact-link-box h4 {
    color: var(--color-dark-gray);
}

.section-contact-link-icon {
    width: 4.5rem;
    height: 4.5rem;
    padding: 4px;
    background-color: var(--color-light-purpel);
    border-radius: 6px;

}

.section-contact-box-two {}

.section-contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-contact-form-box {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.section-contact-form-input {
    background-color: var(--color-mid-gray);
    width: 100%;
    height: 5rem;
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'dana extrabold';
}

.section-contact-form-textare {
    background-color: var(--color-mid-gray);
    width: 100%;
    height: 15rem;
    padding: 8px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'dana extrabold';
}

/* ///////////////////// */
/* footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-licens {
    color: var(--color-dark-gray);
    font-family: monospace;
}

.footer-Status {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;


}

.footer-Status-shap {
    width: 50px;
    height: 50px;
    border-radius: 200px;
    background-color: var(--color-dark-gray);
    box-shadow: 0 0 4px var(--color-dark-gray);
}

.footer-Status-text {
    font-size: 18px;
    color: var(--color-dark-gray);
    /* display: flex;
    align-items: center; */
}

.footer-Status-text span {
    color: var(--color-white);
}

/* ///////////////////// */